@charset "UTF-8";
/****************** Header table Start ************************/
table.header-table {
	width:100%;
	background: #FCF8D3;
	border: 2px solid #F19545;
}

.website-title {
	padding-left: 10px;
	font-size: 24px;
	color: #F19545;
}

.header-menu-table {
	width:100%;
	background: #FCF8D3;
	border: 2px solid #F19545;
	border-top: none;
	border-bottom: 2px solid #FFE0C1;
}

.header-menu {
	width:100%;
	background: #F19545;
	border: 3px solid #FFE0C1;
}

.stats {
	color: #B42807;
    font: normal 12px/14px Arial;
}
/****************** Header menu Start ************************/
ul#list-nav {
	margin: 0px;
	padding: 0;
	list-style:none;
	font-size: 13px;
	font-family: arial;
}

ul#list-nav li {
	display:inline;
}

ul#list-nav li a {
	text-decoration: none;
	padding: 3px 20px 3px 20px;
	color: #FCF8D3;
	float: left;
}

ul#list-nav li a {
	text-align: center;
	border-left: 3px solid #FCF8D3;
	font-weight: bold;
}

ul#list-nav li a.selected {
	background-color: #FFE0C1;
	color: #B42807;
}

ul#list-nav li a:hover {
	background-color: #FFE0C1;
	color: #B42807;
	/*
	background:#675445;
	color:white;
	*/
	/*
	background:#a2b3a1;
	color:#000
	*/
}
/****************** Header menu End ************************/
/****************** Header table End ************************/

/****************** Body Start ************************/
div.loading {
	display: block;
	padding: 5px;
	color: #B42807;
}

table.body-table {
	width: 100%;
	background: #FFE0C1;
	border: 2px solid #F19545;
	border-top: none;
	padding-top: 5px; 
	padding-bottom: 8px;
}

.border-top {
	border-top:3px solid white;
}

td.contents-block {
	border: 1px solid #F19545;
	padding: 5px;
	background: #FCF8D3;
}

td.contents {
	padding: 5px;
	padding-left: 10px;
	color: #B42807;
	font: normal normal 14px/25px arial;
}

.contents-header {
	background: #F19545;
	color: white;
	padding-left: 10px;
	font-weight: bold;
	font: bold normal 13px/25px arial;
}

.menu-separator {
	border-bottom: 5px solid #F19545;
}

/* not used */
.side-menu {
	padding: 5px;
	color: #B42807;
	border: 1px solid #FF8C1A;
	background: #FCF8D3;
}

td.side-menu-item {
	color: #B42807;
	border-bottom: 1px solid #FF8C1A;
	padding: 2px;
}

a.selected {
	background: white; /*#FFE0C1;*/
}

.side-menu-link {
	font:normal normal bold 13px/25px arial;
	color: #B42807;
	text-decoration:none;
	text-align:left;	
	display:block;
	padding-left:10px;
}
.side-menu-link:hover {
	text-decoration: none;
	background-color: #FFE0C1;
}

.link {
	color: blue;
	text-decoration: underline;
	font:normal normal normal 13px/20px arial;
}

.text {
	font:normal normal normal 14px/20px Arial;
	padding-top: 10px;
	color: #B42807;
}

td.profile_info {
	font:normal normal normal 13px/20px Verdana;
	color: #B42807;
}

.para-heading {
    border-bottom: 1px solid #F19545;
    background-color: #FFE0C1;
	color: #B42807;
    font: bold 13px/20px Verdana;
    text-decoration: none;
    padding-left: 5px;
}
/* not used */
.sub-heading {
	font:bold normal normal 15px/20px Verdana;
	padding-top: 10px;
	color: #B42807;
	padding-left: 5px;
}

tr.odd {
	background: none;
}
tr.even {
	background: white;
}
/****************** Form fields Start ************************/
.LoginInputBox, .InputBox, .WaterMarkClass {
    background-color: #FFFFFF;
    border: 1px solid #F3A15D;
    color: #B42807;
    font-family: Arial;
    font-size: 13px;
    height: 20px;
    padding-left: 3px;
}
select.InputBox {
    background-color: #FFFFFF;
    border: 1px solid #F3A15D;
    color: #B42807;
    font-family: Arial;
    font-size: 13px;
    height: 20px;
    width: 175px;
    padding-left: 3px;
}

select.BigSelectBox {
    background-color: #FFFFFF;
    border: 1px solid #F3A15D;
    color: #B42807;
    font-family: Arial;
    font-size: 13px;
    height: 20px;
    width: 250px;
    padding-left: 3px;
}

select.MultipleSelectBox {
    background-color: #FFFFFF;
    border: 1px solid #F3A15D;
    color: #B42807;
    font-family: Arial;
    font-size: 13px;
    width: 250px;
    padding-left: 3px;
}

select.SmallSelectBox {
    background-color: #FFFFFF;
    border: 1px solid #F3A15D;
    color: #B42807;
    font-family: Arial;
    font-size: 13px;
    height: 20px;
    padding-left: 3px;
}

.TextAreaInputBox
{
	border: 1px solid #F3A15D;
    color: #B42807;
    font-family: Arial;
    font-size: 13px;
    padding-left: 3px;
}

.RadioButton {
	color: #B42807;
    font-family: Arial;
    font-size: 13px;
}

.label {
	color: #B42807;
    font: bold 13px/15px Arial;
}

.marathi_label {
	color: #B42807;
    font: normal 13px/20px Arial;
}

table.my_profile_table {
	border: 1px solid #F19545;
}

td.aboutMeLabel {
	color: #B42807;
    font: bold 13px/15px Arial;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

td.aboutMeInfo {
	color: #B42807;
    font: normal 13px/15px Arial;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

td.soulMateInfo {
	color: #B42807;
    font: normal 13px/15px Arial;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.LoginButton, .FormButton {
    background: url("/images/button.gif") repeat-x scroll left top transparent;
    border: 1px solid #D77D32;
    color: #953102;
    cursor: pointer;
    font: bold 12px/15px Verdana;
    height: 20px;
}

.DefaultText {
	color: #AAAAAA; 
}

ul.ErrorMessage {
	color: red;
    font: bold 13px/15px Arial;
	padding: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
    /* background-color: #FFE0C1; */
}
/*
ul.ErrorMessage {
	color: red;
    font: bold 13px/15px Arial;
	padding: 0px;
    padding-top: 5px;
	padding-left: 20px;
}
*/

ul.ErrorMessage li {
	padding-bottom: 5px;
}

div.ErrorMessage {
	color: red;
    font: bold 13px/15px Arial;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
    /* background-color: #FFE0C1; */
}

.SuccessMessage {
	color: green;
    font: bold 13px/15px Arial;
    padding-top: 10px;
    padding-bottom: 10px;	
}

.InfoMessage {
	color: blue;
    font: bold 13px/15px Arial;
    padding-top: 10px;
    padding-bottom: 10px;	
}

td.uploadPhoto {
	 background: url('/images/NoPicture.gif') no-repeat scroll center center transparent;
}
/****************** Form fields End ************************/
/****************** Body End ************************/

/****************** Bottom Bar Start ************************/
table.footer-table {
	width: 100%;
	background: #FFE0C1;
	border: 2px solid #F19545;
	border-top: none;
	padding-top: 0px; 
	padding-bottom: 0px;
}

.footer {
	font-size: 12px;
	background: #FCF8D3;
	color: #B42807;
}

.BottomBar {
	float: left; 
	padding-left: 10px;
}

.BottomBarText,.BottomBarLink
{
	font:normal normal normal 11px Verdana;
	color: blue;
	text-decoration:none;
}
.BottomBarLink:hover {
	text-decoration:underline;
}
/****************** Bottom Bar End ************************/

/* not used */
.PageLeftClass {
    background: url("/images/page_left.gif") repeat-y scroll right top transparent;
    width: 10px;
}

.PageRightClass {
    background: url("/images/page_right.gif") repeat-y scroll left top transparent;
    width: 10px;
}

.PageFooterClass {
    background: url("/images/page_footer.gif") no-repeat scroll left top transparent;
    height: 10px;
    width: 1000px;
}